<app-navbar (onClickSettings)="setSettingsMenuState(true)" [showSettings]="UserDataLoaded"></app-navbar>
<div class="mainContainer">
    @if(!this.isLoggedin)
    {
        <app-login></app-login>
    }
    @else
    {
        @if(UserDataLoaded)
        {
            <div class="dayNavigator">
                <div class="dayNavHoverArea left">
                    <button class="dayNavButton" (click)="updateViewedDate(-1)"><p><</p></button>
                </div>
                <div class="dayNavHoverArea right">
                    <button class="dayNavButton" (click)="updateViewedDate(+1)"><p>></p></button>
                </div>
            </div>
    
            <div class="todaysWeight">
                <div class="currentDate">
                    <p id="currentDay" [className]="neighbourDayClass">{{this.todaysDate}}</p>
                </div>
                <app-weight-display [currentText]="weightDisplayText" (onChange)="insertNewWeight($event)" (onRemove)="removeWeight()" [weightUnit]="weightDisplayUnit"></app-weight-display>
            </div>
        }
    }
</div>
<div class="infoArea">
    @if(UserDataLoaded)
    {
        <p class="chartLabel">Your weight timeline</p>
        <!-- <app-line-chart [graphData]="weightGraphData" [currentDateString]="currentLocaleDateString"></app-line-chart> -->
        <app-linechart [chartWeights]="lineChartWeights" [chartDates]="lineChartDates" [currentDate]="currentDateLocaleString"></app-linechart>
    }
</div>
<div class="footer">
    <div>
        <p>Made by Leyton Viner</p>
        <p>MMXXIV</p>
        <a href="https://github.com/LeytonV">
            <img src="assets/github.png" alt="">
        </a>
    </div>
</div>

<app-settings [isOpen]="settingsOpen" (onClose)="setSettingsMenuState(false)"></app-settings>
