.container
{
    position: relative;
    width: 400px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-auto-flow: row;
}


.displayText
{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 60px;
    color:whitesmoke;
    width: 100%;
    height: fit-content;
    margin: 0;
}

.container p
{
    margin: 0;
}

#weightDisplay
{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    
    font-family: "Roboto";
    font-weight: 700;
    font-size: 60px;
    color:whitesmoke;
    margin: 0;
    text-align: center;
}



.container::after
{
    content: "";
    width: 0;
    height: 2px;
    margin: auto;
    
    background-color:#ffffff00;

    transition: width .5s ease-in-out, background-color .5s ease-in-out;
}

.container:has( #weightDisplay:hover)::after
{
    content: "";
    width: 100%;
    background-color:whitesmoke;
}

#weightDisplay::placeholder
{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    
    font-family: "Roboto";
    font-weight: 700;
    font-size: 60px;
    color:whitesmoke;
    opacity: 50%;
    margin: 0;
}


#unitLabel
{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    color:whitesmoke;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}